<%- layout("/boilerplate/boilerplate")%>
    <div class="card col-md-8 offset-2 mt-5">
        <div class="card-title text-center">
            <h1>Login</h1>
        </div>
        <form action="/login" method="POST">
            <div class="card-body">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" type="text" name="username" id="username">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password">
            </div>
            <div class="card-body">
                <button class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>